.header {
  background-color: #ffffff;
  &__content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }
}
